<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="path/to/your/logo.png"> <span>Home</span>
</div>

<body>
  <div class="container-login">
    <h1>Bem-vindo(a)</h1><br>
    <p class="text-login">Faça seu login para entrar na plataforma </p>
  <div class="input"></div>

  <section class="btn-login">
    <button class="text-btn">Login Tutor</button>
    <button class="text-btn">Login Aluno</button>
    <button class="text-btn">Criar Cadastro</button>
  </section>
  </div>
</body>

<router-outlet></router-outlet>